<div class="page-header">
  <h1>Homework <small>An updated page for the bootstrap lesson plan.</small></h1>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
			<img style="-webkit-user-select: none; cursor: -webkit-zoom-in;" src="http://www.safehavenhumanesociety.org/blog/wp-content/uploads/2013/01/kitty-money.jpg" width="450" height="337">
      <div class="caption">
        <h3>Cash Kitty</h3>
        <p>That so Pinteresting!</p>
        <p><a href="#" class="btn btn-primary" role="button">Disturbing</a> <a href="#" class="btn btn-default" role="button">Adorable</a></p>
      </div>
    </div>
  </div>
</div>
